@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: 14px;
  background: #f0f2f5;
}

* {
  box-sizing: border-box;
}
